<div class="fade-in">
    <div class="form-group row">
        <label class="col-sm-6 col-form-label text-right" for="select-unit-test"><b>Choose a unit-test</b></label>
        <div class="col-sm-6">
            <select class="form-control form-control-sm" id="select-unit-test" name="select-unit-test" size="1">
                <option value="electronic-signature" selected>Electornic Siganture</option>
                <option value="vid">VID</option>
                <option value="digest">Digest</option>
                <option value="block-cipher">Block Cipher</option>
                <option value="rsa">RSA</option>
                <option value="encoding-decoding">Encoding and Decoding</option>
                <option value="certificate">Certificate</option>
            </select>
        </div>
    </div>
    <div id="unit-test-root"></div>
</div>

<script>
    (function () {
        var root = $('#unit-test-root');
        $.get("./unit-test/electronic-signature.html", function (data, status) {
            root.html(data);
        });

        $('#select-unit-test').change(function () {
            $.get("./unit-test/" + $(this).val() + ".html", function (data, status) {
                root.html(data);
            })
                .fail(function (e) {
                    root.html("The page not found.");
                });
        });
    })();
</script>