<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordion-sidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <i class="kica-logo"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Tech<sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Client Toolkits
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-secukit-html5" aria-expanded="true"
            aria-controls="collapse-secukit-nhtml5">
            <i class="fab fa-html5 fa-fw"></i>
            <span class="d-none d-md-inline hide">SecuKit </span><span>HTML5</span>
        </a>
        <div id="collapse-secukit-html5" class="collapse" aria-labelledby="heading-secukit-nxs" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Versions</h6>
                <a class="collapse-item" href="/views/secukit-html5/v1.1.0.2/">v1.1.0.2</a>                
            </div>
        </div>
    </li>
    
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-secukit-nxs" aria-expanded="true"
            aria-controls="collapse-secukit-nxs">
            <i class="fas fa-fw fa-download"></i>
            <span class="d-none d-md-inline hide">SecuKit </span><span>NXS</span>
        </a>
        <div id="collapse-secukit-nxs" class="collapse" aria-labelledby="heading-secukit-nxs" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Versions</h6>
                <a class="collapse-item" href="/views/secukit-nxs/v1.0.5.8/">v1.0.5.8</a>
                <a class="collapse-item" href="/views/secukit-nxs/v1.0.5.9/">v1.0.5.9</a>
            </div>
        </div>
    </li>    

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-secutax-nxs" aria-expanded="true"
            aria-controls="collapse-secutax-nxs">
            <i class="fas fa-fw fa-download"></i>
            <span >SecuTax </span><span class="d-none d-md-inline hide">NXS</span>
        </a>
        <div id="collapse-secutax-nxs" class="collapse" aria-labelledby="heading-secutax-nxs" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Versions</h6>
                
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Server Toolkits
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-secukit" aria-expanded="true"
            aria-controls="collapse-secukit">
            <i class="fas fa-fw fa-download"></i>
            <span>SecuKit</span>
        </a>
        <div id="collapse-secukit" class="collapse" aria-labelledby="heading-secukit" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Versions</h6>
                
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-va" aria-expanded="true"
            aria-controls="collapse-va">
            <i class="fas fa-fw fa-download"></i>
            <span>VA</span>
        </a>
        <div id="collapse-va" class="collapse" aria-labelledby="heading-va" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Versions</h6>
                
            </div>
        </div>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Applications
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-kica-sign-plus" aria-expanded="true"
            aria-controls="collapse-kica-sign-plus">
            <i class="fas fa-fw fa-download"></i>
            <span class="d-none d-md-inline hide">KICA </span><span>Sign+</span>
        </a>
        <div id="collapse-kica-sign-plus" class="collapse" aria-labelledby="heading-kica-sign-plus" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Versions</h6>
                
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-fido" aria-expanded="true"
            aria-controls="collapse-fido">
            <i class="fas fa-fw fa-download"></i>
            <span>FIDO</span>
        </a>
        <div id="collapse-fido" class="collapse" aria-labelledby="heading-fido" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Versions</h6>
                
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-kfido" aria-expanded="true"
            aria-controls="collapse-kfido">
            <i class="fas fa-fw fa-download"></i>
            <span>KFIDO</span>
        </a>
        <div id="collapse-kfido" class="collapse" aria-labelledby="heading-kfido" data-parent="#accordion-sidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Versions</h6>
                
            </div>
        </div>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->